.fade-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms, ;
}



.modal-enter {
  opacity: 0;
  transform: translateY(-100px);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.modal-exit {
  opacity: 1;

  transform: translateY(0) scale(1);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(100px) scale(0);
  transition: opacity 500ms, transform 500ms;
}

