@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --width-scroll: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    scrollbar-gutter: stable;
  /* overflow: hidden; */
}

@media (min-height: 900px) {
  /* Espacio del scroll */
  .main {
    width: calc(100vw - (8px));
  }
}

body.disable-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: var(--width-scroll);
}

::-webkit-scrollbar-thumb {
  background-color: #4c4c4c;
  border-radius: 3px;
}

.carrusel::-webkit-scrollbar {
  display: none;
}

.loader__contenedor {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  position: absolute;
  border-radius: inherit;
}


.loader::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg,
  #0890b254 0%,
  rgb(9, 19, 22) 100%);
}

.loader::after {
  width: 85%;
  height: 85%;
  background-color: #111;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}


