::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    animation-duration: 0s;
}

::view-transition-old(none-home),
::view-transition-new(none-home) {
    animation: none;
    animation-duration: 0s;
}


/* The old view is the thumbnail */
::view-transition-old(title-home) {
    animation: fade-out 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

::view-transition-new(title-home) {
    animation: slide-in-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

/* The old view is the thumbnail */
::view-transition-old(bg-home) {
    animation: fade-out 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

::view-transition-new(bg-home) {
    animation: fade-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.animation-opacity {
    animation: fade-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(30px);
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}