.showAnimate {
    view-timeline-name: --presentacion;
    view-timeline-axis: block;
    animation-timeline: --presentacion;
    animation-name: scroll;
    animation-range: entry 0% cover 40%;
    animation-fill-mode: both;
}

.imgScroll {
    view-timeline-name: --imagen2;
    view-timeline-axis: block;
    animation-timeline: --imagen2;
    animation-name: scroll-img;
    animation-range: entry exit;
    animation-fill-mode: both;
}

.imgScroll2 {
    view-timeline-name: --imagen;
    view-timeline-axis: block;
    animation-timeline: --imagen;
    animation-name: scroll-img2;
    animation-range: entry 20% cover 30%;
    animation-fill-mode: both;
}

.letterScroll {
    view-timeline-name: --top;
    view-timeline-axis: block;
    animation-timeline: --top;
    animation-name: scroll-top;
    animation-range: entry -100% cover 50%;
    animation-fill-mode: both;
}

.letterScroll2 {
    view-timeline-name: --top2;
    view-timeline-axis: block;
    animation-timeline: --top2;
    animation-name: scroll-top2;
    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
}

.RevisaTodoNuestroCatalogo {
    view-timeline-name: --michi;
    view-timeline-axis: block;
    animation-timeline: --michi;
    animation-name: scroll-michi;
    animation-range: entry 90% cover 60%;
    animation-fill-mode: both;
}

.scroll-parallax {
    view-timeline-name: --parallax;
    view-timeline-axis: block;
    animation-timeline: --parallax;
    animation-name: scroll-parallax;
    animation-range: entry exit;
    animation-fill-mode: both;
}

@keyframes scroll-parallax {
    from {
        transform: translate(0, 0%);
    }
    to {
        transform: translate(0, -50%);
    }
}

@keyframes scroll-michi {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scroll-top2 {
    from {
        opacity: 0;
        transform: translateY(300px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scroll-top {
    from {
        opacity: 0;
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scroll-img {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes scroll-img2 {
    from {
        transform: translateY(200px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes scroll {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
